html, .App {
  background-color: #2f3331;
  color: white;
}

.input-box {
  background-color: rgba(217, 217, 217, 0.1);
  border-radius: 25px;
  padding: 0.75rem 1rem;
  width: 100%;
  font-size: 1rem;
  margin: 1rem auto;
}

.button {
  border-radius: 25px;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
}

.button:hover {
  box-shadow: 0 0 0 2px white;
}

.orange-button {
  background-color: rgba(192, 121, 66, 0.9);
}
